body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d6ef7;
}
.navigation {
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  /* width: 450px; */
  width: 70px;
  height: 70px;
  transition: all 0.6s linear;
}
.navigation-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-color: #fff;
  cursor: pointer;
}
.navigation-list {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation-item {
  transition: all 0.6s linear;
  opacity: 0;
}
.navigation-link {
  color: #000;
}
.navigation-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  display: block;
  height: 2px;
  width: 22px;
  background-color: #3d6ef7;
  transition: all 0.7s linear;
}
.navigation-line1 {
  transform: translate(-50%, -5.5px) rotate(0deg);
}
.navigation-line2 {
  transform: translate(-50%, 5.5px) rotate(0deg);
}
.navigation.active .navigation-line1 {
  transform: translate(-50%, 0) rotate(765deg);
}
.navigation.active .navigation-line2 {
  transform: translate(-50%, 0) rotate(-765deg);
}
.navigation.active {
  width: 450px;
}
.navigation.active .navigation-item {
  opacity: 1;
  transform: rotateY(360deg);
}
